.page-header {
  &__container {
    $_padding-top-bottom: 15px;

    padding-top: $_padding-top-bottom;
    padding-bottom: $_padding-top-bottom;
  }

  &__row {
    display: flex;
    align-items: center;
  }
}
