-
  var mainData = [
    {
      title: 'О нас',
      link: '#',
    },
    {
      title: 'Услуги',
      link: '#',
      children: [
        {
          title: 'Услуга 1',
          link: '#',
        },
        {
          title: 'Услуга 2',
          link: '#',
        },
        {
          title: 'Услуга 3',
          link: '#',
        },
      ],
    },
    {
      title: 'Вакансии',
      link: '#',
    },
    {
      title: 'Новости',
      link: '#',
    },
    {
      title: 'Соглашения',
      link: '#',
      children: [
        {
          title: 'Соглашение 1',
          link: '#',
        },
        {
          title: 'Соглашение 2',
          link: '#',
        },
        {
          title: 'Соглашение 3',
          link: '#',
        },
      ],
    },
  ];
