extends ../../layouts/default

block title
  title Index page

block header
  +page-header()

block main
  +page-main()
    .container
      h1 Home page
      a(href='about.html') go to about page

block footer
  +page-footer()
    .container Footer
