include ../blocks/index.pug

doctype html
html(lang='ru')
  head

    // Meta
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    // SEO meta
    block seoMeta
      meta(name='description' content='Index page')
      meta(name='keywords', content='index, page')

    // Favicons
    link(rel='icon', type='image/png', sizes='48x48', href='img/favicon.png')

    // Title
    block title
      title Default title

  body
    #app
      noscript !!! Пожалуйста, включите JavaScript !!!

      // Page header
      block header

      // Page main
      block main

      // Page footer
      block footer

      // Page scripts
      block scripts
