extends ../../layouts/default

block title
  title About page

block header
  +page-header()
    .container Header

block main
  +page-main()
    .container
      h1 About page
      a(href='index.html') go to Home page

block footer
  +page-footer()
    .container Footer
